<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dartmedia.dmss.mapper.AccountPointMapper">

  <select id="findTeamNo" resultType="AccountPoint">
    select Top 1 teamNo from Appoint where accountid=#{accountId}
  </select>

  <select id="findTeamNm" resultType="AccountPoint">
    SELECT accountId, teamNm FROM Appoint As a
    LEFT OUTER JOIN Team As t
    ON t.TeamNo = a.TeamNo
    WHERE accountid=#{accountId}
  </select>

</mapper>