<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dartmedia.dmss.mapper.ApprovalStepMapper">

  <select id="readByTeamNo" resultType="ApprovalStep">
    select top 1  a.AccountId, a.accountNm, ac.TeamNo, t.upperTeamNo
    from account as a 
    inner join appoint as ac 
    on ac.AccountId = a.AccountId
    inner join Team as t 
    on t.TeamNo = ac.TeamNo
    where t.TeamNo=#{teamNo} and ac.ManagerYn='Y'
    order by ac.PublishDay desc
  </select>

</mapper>