<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dartmedia.dmss.mapper.AuthMapper">

  <select id="login" resultType="Auth">
  
  select a.accountId, a.accountNm, ap.managerYn, ap.teamNo 
  from account as a 
  inner join appoint as ap 
  on a.AccountId=ap.AccountId
  where a.accountId=#{accountId} and a.password=#{password} 

  </select>

  <select id="isExist" resultType="String">
    SELECT CASE WHEN (count(*) > 0) THEN 'true' ELSE 'false' END AS role
  FROM feeadmin where adminId=#{accountId}
  </select>

</mapper>