<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dartmedia.dmss.mapper.TAppointMapper">

    <!-- XML 파일 주석 쓰는 방법 -->
    <!-- id명은 AccountMapper 클래스의 함수명과 똑같이 해주기 -->
    <select id="findAll" resultType="TAppoint">
        SELECT	*
        FROM 	tAppoint
    </select>

    <select id="read" resultType="TAppoint">
        SELECT  *
        FROM    tAppoint
        WHERE   IDNo=#{IDNo}
    </select> <!-- #을 쓰면 정수는 정수열, 문자는 문자열로, $는 String -->

    <insert id="create">
        <!--selectKey resultType="string" keyProperty="AccountId" order="BEFORE">
            SELECT MAX(AccountId)+1 FROM Account
        </selectKey-->
        INSERT
        INTO tAppoint
        (IDNo
        ,AccountNm
        ,PublishDay
        ,tpPublish
        ,TeamNo
        ,tpPosition
        ,DirectorYn
        ,ManagerYn
        ,appointMemo)
        VALUES
        (#{IDNo}
        ,#{AccountNm}
        ,#{PublishDay}
        ,#{tpPublish}
        ,#{TeamNo}
        ,#{tpPosition}
        ,#{DirectorYn}
        ,#{ManagerYn}
        ,#{appointMemo})
    </insert> <!-- insert, update는 리턴타입 없다. select만 -->

    <update id="update">
        UPDATE tAppoint
        SET PublishDay=#{PublishDay}
          ,AccountNm=#{AccountNm}
          ,tpPublish=#{tpPublish}
          ,TeamNo=#{TeamNo}
          ,tpPosition=#{tpPosition}
          ,DirectorYn=#{DirectorYn}
          ,ManagerYn=#{ManagerYn}
          ,appointMemo=#{appointMemo}
        WHERE IDNo=#{IDNo}
    </update>

    <delete id="delete">
        DELETE
        FROM tAppoint
        WHERE IDNo=#{IDNo}
    </delete>

    <select id="findById" parameterType="String" resultType="TAppoint">
        SELECT *
        FROM tAppoint
        WHERE IDNo =#{IDNo}
    </select>

    <select id="findByPublishDay" parameterType="Date" resultType="TAppoint">
        SELECT *
        FROM tAppoint
        WHERE PublishDay=#{PublishDay}
    </select>

    <select id="findByTeamNo" parameterType="short" resultType="TAppoint">
        SELECT *
        FROM tAppoint
        WHERE TeamNo=#{TeamNo}
    </select>

    <select id="findByTpPosition" parameterType="short" resultType="TAppoint">
        SELECT *
        FROM tAppoint
        WHERE tpPosition=#{tpPosition}
    </select>

    <select id="findByAuthority" resultType="TAppoint">
        SELECT *
        FROM tAppoint
        WHERE DirectorYn = 'Y' OR ManagerYn = 'Y'
    </select>

</mapper>